body {
  margin: 0;
  background-color: #303030;
}

h1 {
  font-size: 23px;
  color: black;
  text-shadow: 2px 2px #95d5b2;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #52b788;
  border-bottom: 3px solid #1b4332;
}
